$light-mode-color: #f4f4fd;
$primary-brand-color: #4d5ae5;
$dark-mode-color: #2e2f42;
$main-text-color: #434455;
$main-background-color: #fff;
$link-hover-color: #404bbf;
$btn-hover-color: #404bbf;
$hero-text-color: #fff;
$portfolio-btn-color: #f4f4fd;
$customers-color: #8e8f99;
$footer-social-hover: #31d0aa;

$grid-gap: 24px;

$transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
